@media (min-width: 500px) {

    input::placeholder {
        font-size: 35px;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header > img {
        width: 350px;
        height: fit-content;
    }

    #newPassword {
        font-size: 45px;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 230px;
    }

    #newPassword > label,
    #newPassword > input,
    #newPassword > div {
        margin-top: 30px;
    }

    #newPassword > div {
        display: flex;
        justify-content: space-between;
    }

    #newPassword > div > input:first-child {
        width: 100%;
    }

    .blank {
        border-color: lightgray;
        height: 90px;
    }

    #newPassword > .button:last-child {
        height: 150px;
    }

    .button {
        background-color: lemonchiffon;
        border: none;
        font-size: 40px;
        border-radius: 30px;
    }


}
