/*모바일 버전*/
@media (min-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        margin-bottom: 130px;
    }

    header > img {
        width: 350px;
        height: fit-content;
    }

    table {
        width: 80%;
        height: 700px;
        border-collapse: collapse; /*이중선 제거*/
        font-size: 40px;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    caption {
        text-decoration: underline;
        font-size: 45px;
    }

    tbody {
        width: 100%;
    }

    tr {
        border-top: 1px solid black;
        height: 100px;
    }

    th {
        width: 250px;
        border-right: 1px solid black;
    }

    td {
        width: 70%;
    }

    tr:last-child {
        border-bottom: 1px solid black;
    }

    input {
        background-color: lemonchiffon;
        font-size: 40px;
        width: 80%;
        height: 120px;
        border: none;
        border-radius: 30px;
    }

}