@media (min-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header > img {
        width: 350px;
        height: fit-content;
    }

    div {
        margin-top: 100px;
    }

    #result {
        padding-top: 70px;
        font-size: 45px;
    }

    #text {
        font-size: 35px;
    }

    #resultId {
        border: 2px solid gray;
        padding: 0 100px 100px 100px;
    }

    .btn {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    a {
        padding: 25px;
        background-color: lemonchiffon;
        text-decoration: none;
        color: black;
        width: fit-content;
        border-radius: 25%;
    }

}