/*모바일 버전*/
@media (min-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header > img {
        width: 350px;
        height: fit-content;
    }

    #findId {
        font-size: 45px;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 230px;
    }

    #findId > label,
    #findId > input,
    #findId > div {
        margin-top: 30px;
    }

    #findId > div {
        display: flex;
        justify-content: space-between;
    }

    #findId > div > input:first-child {
        width: 555px;
    }

    .blank {
        border-color: lightgray;
        height: 90px;
    }

    #findId > .button:last-child {
        height: 150px;
    }

    .button {
        background-color: lemonchiffon;
        border: none;
        font-size: 40px;
        border-radius: 30px;
    }


}

/*데스크탑 버전*/
/*@media (min-width: 1000px) {*/

/*    }*/
/*}*/