@media (min-width: 500px) {
    input::placeholder {
        font-size: 35px;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header > img {
        width: 350px;
        height: fit-content;
    }

    #updateInfo {
        font-size: 45px;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 230px;
    }

    #updateInfo > label,
    #updateInfo > input,
    #updateInfo > div {
        margin-top: 30px;

    }

    #updateInfo > div {
        display: flex;
        justify-content: space-between;
    }

    #updateInfo > div > input:first-child {
        width: 100%;
        font-size: 30px;
    }

    .blank {
        border-color: lightgray;
        height: 90px;
    }
    div > img {
        width:80px;
        position: absolute;
        z-index : 1;
        margin-top:10px;
        margin-left:650px;
    }
    .button {
        background-color: lemonchiffon;
        border: none;
        font-size: 40px;
        border-radius: 30px;
        height: 150px;
    }

    a {
        font-size:30px;
        color: black;

        align-items: center;
    }
}
