/*모바일 버전*/
@media (min-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        margin-bottom: 130px;
    }

    header > img {
        width: 350px;
        height: fit-content;
    }

    table {
        border-collapse: collapse; /*이중선 제거*/
        width: 80%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    caption {
        width: 50%;
        display: flex;
        justify-content: space-between;
        font-size: 40px;
        margin-bottom: 60px;
    }

    button > img {
        width: 30px;
        height: 30px;
    }

    #last {
        transform: rotate(270deg);
    }

    #next {
        transform: rotate(90deg);
    }

    tbody {
        width: 100%;

    }

    tr {
        border-top: 1px solid black;
        height: 100px;
    }

    th {
        font-size: 40px;
        width: 250px;
    }

    tr > th:first-child,
    tr > th:nth-child(2),
    tr > td:first-child,
    tr > td:nth-child(2){
        border-right: 1px solid black;
    }

    tr:last-child {
        border-bottom: 1px solid black;
    }

    td {
        font-size: 35px;
    }

    td > img {
        width: 40px;
        height: 40px;
    }
}