<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <img src="/img/semohan-logo.png" alt="logo">
    </header>
    <form id="findId" action="" method="post">
        <label for=phoneNum>휴대전화</label>
        <div>
            <input class="blank" type="text" name="phoneNum" id="phoneNum">
            <input class="button" type="button" value="인증번호">
        </div>

        <input class="blank" type="number" name="certificationNum" id="certificationNum">
        <input class="button" type="submit" value="아이디 찾기">
    </form>
</body>
</html>