<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인화면</title>
    <link rel="stylesheet" href="/css/mainStyle.css">
</head>
<body>
    <header>
        <img src="/img/semohan-logo.png" alt="logo">
    </header>
    <div>
        <input class="gray" type="button" value="나의 정보">
        <input class="gray" type="button" value="식당 정보">
        <input class="lemon" type="button" value="메뉴 등록">
        <input class="gray" type="button" value="비즈니스">
    </div>
</body>
</html>