<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
    <link rel="stylesheet" href="/css/myInfoStyle.css">
</head>
<body>
    <header>
        <img src="/img/semohan-logo.png" alt="logo">
    </header>
    <table>
        <caption>나의 정보</caption>
        <tr>
            <th>이름</th>
            <td></td>
        </tr>
        <tr>
            <th>아이디</th>
            <td></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td></td>
        </tr>
    </table>
    <input type="button" value="정보 수정">
</body>
</html>