<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>식당 정보</title>
    <link rel="stylesheet" href="/css/restaurantInfoStyle.css">
</head>
<body>
    <header>
        <img src="/img/semohan-logo.png" alt="logo">
    </header>
    <table>
        <caption>식당 정보</caption>
        <tr>
            <th>상호명</th>
            <td></td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td></td>
        </tr>
        <tr>
            <th>주소</th>
            <td></td>
        </tr>
        <tr>
            <th>영업 시간</th>
            <td></td>
        </tr>
        <tr>
            <th>가격</th>
            <td></td>
        </tr>
    </table>
    <input type="button" value="정보 수정">
</body>
</html>