<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기 결과</title>
    <link rel="stylesheet" href="/css/resultIdStyle.css">
</head>
<body>
    <header>
        <img src="/img/semohan-logo.png" alt="logo">
    </header>
    <div id="result">
        휴대폰 번호와 일치하는 아이디입니다.
    </div>
    <div id="resultId">
        <div id="text">아이디: semohan123</div>
        <div id="text">가입일: 2024.04.01</div>
    </div>
    <div class="btn" id="text">
        <a href="./login.html">확인</a>
        <a href="./newPassword.html">비밀번호 재설정</a>
    </div>
</body>
</html>