<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../css/updateMenu.css">
    <meta charset="UTF-8">
    <title>메뉴 업데이트</title>
</head>
<body>
<header>
    <img src="/img/semohan-logo.png" alt="logo">
</header>

<form id="updateMenu" method="post" action="">

    <label>날짜</label>
    <div>
        <select name="year">
            <option value="2024">2024년</option>
            <option value="2025">2025년</option>
        </select>

        <select name="month">
            <option value="1">1월</option>
            <option value="2">2월</option>
            <option value="3">3월</option>
            <option value="4">4월</option>
            <option value="5">5월</option>
            <option value="6">6월</option>
            <option value="7">7월</option>
            <option value="8">8월</option>
            <option value="9">9월</option>
            <option value="10">10월</option>
            <option value="11">11월</option>
            <option value="12">12월</option>
        </select>

        <select name="date">
            <option value="1">1일</option>
            <option value="2">2일</option>
            <option value="3">3일</option>
            <option value="4">4일</option>
            <option value="5">5일</option>
            <option value="6">6일</option>
            <option value="7">7일</option>
            <option value="8">8일</option>
            <option value="9">9일</option>
            <option value="10">10일</option>
            <option value="11">11일</option>
            <option value="12">12일</option>
            <option value="13">13일</option>
            <option value="14">14일</option>
            <option value="15">15일</option>
            <option value="16">16일</option>
            <option value="17">17일</option>
            <option value="18">18일</option>
            <option value="19">19일</option>
            <option value="20">20일</option>
            <option value="21">21일</option>
            <option value="22">22일</option>
            <option value="23">23일</option>
            <option value="24">24일</option>
            <option value="25">25일</option>
            <option value="26">26일</option>
            <option value="27">27일</option>
            <option value="28">28일</option>
            <option value="29">29일</option>
            <option value="30">30일</option>
            <option value="31">31일</option>
        </select>
    </div>

    <label>구분</label>
    <div>
        <select name="mealType">
            <option value="점심">점심</option>
            <option value="저녁">저녁</option>
        </select>
    </div>

    <label>메인 메뉴 (최대 2개)</label>
    <div>
        <input class="blank" type="text" name="mainMenu1" id = "mainMenu1" value="" placeholder="제육볶음">

        <button><img src="/img/free-icon-add-992651.png" alt="add"></button>
    </div>

    <label>기타 메뉴</label>
    <div>
        <input class="blank" type="text" name="subMenu1" id = "subMenu1" value="" placeholder="멸치볶음">
        <hr>
        <input class="blank" type="text" name="subMenu2" id = "subMenu2" value="" placeholder="계란말이">
        <hr>
        <button><img src="/img/free-icon-add-992651.png" alt="add"></button>
    </div>

    <div>
        <input class="button" type="submit" value="저장">
    </div>

</form>

</body>
</html>