<!DOCTYPE html>
<html lang="en">
<head>
    <!--    <link type="loginStyle/css" rel="stylesheet" href="loginStyle.css"/>-->
    <link rel="stylesheet" href="../../css/updateRestaurantStyle.css">
    <meta charset="UTF-8">
    <title>식당 정보 변경</title>
</head>
<body>
<header>
    <img src="/img/semohan-logo.png" alt="logo">
</header>

<form id="updateRestaurant" method="post" action="">

    <label for="">상호명</label>
    <div>
        <input class="blank" type="text" id="" value="" placeholder="기존 이름">
    </div>

    <label for="phoneNum">전화번호</label>
    <div>
        <input class="blank" type="text" name="phoneNum" id = "phoneNum" value="" placeholder="전화번호">
    </div>

    <label for="phoneNum">주소</label>
    <div>
        <input class="blank" type="text" name="address" id = "address" value="" placeholder="">
    </div>
    <div>
        <input class="blank" type="text" name="detailedAddress" id = "detailedAddress" value="" placeholder="상세 주소">
    </div>
    <label for="businessHours">영업시간</label>
    <div>
        <input class="blank" type="text" name="businessHours" id = "businessHours" value="" placeholder="영업시간">
    </div>

    <label for="price">가격 안내</label>
    <div>
        <input class="blank" type="text" name="price" id = "price" value="" placeholder="기존 가격">
    </div>

    <label for="password">새로운 비밀번호</label>
    <div>
        <input class="blank" type=password name="pwd" id = "password" value="">
        <img src="/img/lock.png" alt="lock">
    </div>

    <label for="passwordCheck">비밀번호 재확인</label>
    <div>
        <input class="blank" type=password name="pwd" id = "passwordCheck" value="">
        <img src="/img/check.png" alt="check">
    </div>

    <div>
        <input class="button" type="submit" value="저장">
    </div>


</form>

</body>
</html>