<!DOCTYPE html>
<html lang="en">
<head>
    <!--    <link type="loginStyle/css" rel="stylesheet" href="loginStyle.css"/>-->
    <link rel="stylesheet" href="../../css/updateInfo.css">
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
</head>
<body>
<header>
    <img src="/img/semohan-logo.png" alt="logo">
</header>

<form id="updateInfo" method="post" action="">

    <label for="">기존 이름</label>
    <div>
        <input class="blank" type="text" id="" value="" placeholder="기존 이름">
    </div>

    <label for="phoneNum">휴대전화</label>
    <div>
        <input class="blank" type="text" name="phoneNum" id = "phoneNum" value="" placeholder="기존 전화번호">
    </div>

    <label for="password">비밀번호</label>
    <div>
        <input class="blank" type="password" name="pwd" id = "password" value="">
        <img src="/img/lock.png" alt="lock">
    </div>

    <label for="passwordCheck">비밀번호 재확인</label>
    <div>
        <input class="blank" type="password" name="pwd" id = "passwordCheck" value="">
        <img src="/img/check.png" alt="lock">
    </div>

    <div>
        <input class="button" type="submit" value="저장">
    </div>


</form>

</body>
</html>